<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="qr-modal-screen" *ngIf="qrLoading" >
    <ion-spinner name="circles"></ion-spinner>
  </div>
  <ion-list>
    <ion-list-header>Filtros</ion-list-header>

    <ion-item>
      <ion-label>Tiempo</ion-label>
      <ion-select placeholder="Elegir">
        <ion-select-option value="1w">Hace 1 semana</ion-select-option>
        <ion-select-option value="1m">Hace 1 mes</ion-select-option>
        <ion-select-option value="1y">Hace 1 año</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-select placeholder="Elegir">
        <ion-select-option value="0-50">Entre 0€ - 50€</ion-select-option>
        <ion-select-option value="50-200">Entre 50€ - 200€</ion-select-option>
        <ion-select-option value="200+">200€+</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>
    <div *ngIf="this.loading" text-center >
      <ion-spinner class="ordersSpinner" name="circles"></ion-spinner>
      <p class="loadingOrdersText">Cargando pedidos</p>
    </div>
    <div *ngIf="!this.loading" >
      <ion-item *ngFor="let order of dataList" (click)="goToOrderDetails(order)" detail>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Pedido #{{order.orderId}}</h3>
          </ion-text>
          <p>{{order.address}}</p>
          <ion-text color="success">
            <p>{{order.totalPrice}}€</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <!--Will implement this in later versions-->
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
   <ion-infinite-scroll-content
           loadingSpinner="bubbles"
           loadingText="Cargando...">
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>-->
</ion-content>
