<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="qr-modal-screen" *ngIf="qrLoading" >
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <ion-item class="filters-button" (click)="toggleFilter(group)">
    <p class="filter-text">Filtros<ion-icon class="filter-icon" name="add-circle"></ion-icon></p>
  </ion-item>
  <div *ngIf="this.filtersOpen">
    <ion-item>
      <ion-label>Tiempo</ion-label>
      <ion-select [(ngModel)]="timeFilter"  placeholder="Elegir">
        <ion-select-option value="">Elegir</ion-select-option>
        <ion-select-option value="currentweek">Esta semana</ion-select-option>
        <ion-select-option value="currentmonth">Este mes</ion-select-option>
        <ion-select-option value="3mc">Ultimos 3 mes</ion-select-option>
        <ion-select-option value="6mc">Ultimos 6 mes</ion-select-option>
        <ion-select-option value="year">Este año</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-select [(ngModel)]="priceFilter" placeholder="Elegir">
        <ion-select-option value="">Elegir</ion-select-option>
        <ion-select-option value="0,100">0€-100€</ion-select-option>
        <ion-select-option value="100,200">100€-200€</ion-select-option>
        <ion-select-option value="200,300">200€-300€</ion-select-option>
        <ion-select-option value="300,500">300€-500€</ion-select-option>
        <ion-select-option value="500,5000000">500€+</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="button-container">
      <ion-button class="search-button" (click)="search()" >Buscar</ion-button>
    </div>
  </div>

  <ion-list>
    <div *ngIf="this.loading" text-center >
      <ion-spinner class="ordersSpinner" name="circles"></ion-spinner>
      <p class="loadingOrdersText">Cargando pedidos</p>
    </div>
    <div *ngIf="!this.loading" >
      <ion-item *ngFor="let order of this.ordersInDisplay" (click)="goToOrderDetails(order)" detail>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Pedido #{{order.orderId}}</h3>
          </ion-text>
          <p>{{order.address}}</p>
          <ion-text color="success">
            <p>{{order.totalPrice}}€</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
   <ion-infinite-scroll-content
           loadingSpinner="bubbles"
           loadingText="Cargando...">
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
