<ion-content>
  <div class="modal-screen" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="info-screen">
    <p class="client-name">{{clientData.name}}</p>
    <p class="client-direction">{{clientData.direction}}</p>
  </div>
  <div #Map id="map"></div>
  <!--If the button is placed inside the info screen, it dont get the touches-->
  <div class="call-button" (click)="call()" shape="round">
    <ion-icon name="ios-call"></ion-icon>
  </div>
  <ion-button *ngIf="markersAndRouteDisplayed" class="locate-button" (click)="locateMe()"><ion-icon name="locate"></ion-icon></ion-button>
  <ion-button *ngIf="markersAndRouteDisplayed" class="finish-button" (click)="finishDelivery()">Finalizar pedido</ion-button>
</ion-content>
