#map {
  height: 100%;
}

ion-spinner {
  width: 20vw;
  height: 20vh;
}

.modal-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.4);
}

