#map {
  height: 100%;
}

.info-screen {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #d75300;
  padding: 9px;
}

.client-name {
  width: 45vh;
}

.client-direction {
  width: 75vw;
}

.call-button {
  position: absolute;
  font-size: 32px;
  right: 6vw;
  top: 34px;
  padding-top: 6px;
  color: white;
}

ion-spinner {
  width: 20vw;
  height: 20vh;
}

.modal-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.4);
}

.locate-button {
  position: absolute;
  bottom: 20vh;
  right: 4vw;
  width: 50px;
  height: 50px;
  --border-radius: 50%;
}

.finish-button {
  width: 60vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6vh;
  margin-left: auto;
  margin-right: auto;
}
