<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Orden {{this.order.orderId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="invoice-title" text-center>
    <img class="qrcode-image" [src]="this.qrImageUrl">
    <div>
      <p class="restaurant-text">{{this.restaurantName}}</p>
    </div>
  </div>
  <div class="first-invoice-section">
      <p class="text-first-invoice-margin">{{this.order.orderDate}}</p>
      <p class="text-first-invoice-margin">Número de pedido: {{this.order.orderId}}</p>
  </div>
  <div class="invoice-details">
    <div class="invoice-details-header-section">
      <p class="invoice-details-header">EUR </p>
    </div>
    <div *ngFor="let order of this.order.orderDetails">
      <div class="invoice-item">
        <span class="small-text">{{order.amount}}X  #{{order.itemNumber}}</span><span>{{order.description}} </span><span>{{order.price * order.amount}}€</span>
      </div>
    </div>
  </div>
  <div class="invoice-total">
    <p class="total-text">Total</p>
    <p class="total-text">{{order.totalPrice}}€</p>
  </div>
  <div>
    <p class="invoice-client-title-data">Detalles del cliente</p>
    <p class="invoice-client-data">Nombre: {{this.order.clientName}}</p>
    <p class="invoice-client-data">Direccion: {{this.order.address}}</p>
    <p class="invoice-client-title-data">Para contactar con el cliente, llama al:</p>
    <p class="invoice-client-data">{{this.order.phone}}</p>
  </div>
  <div class="invisible-div-for-scroll"></div>
  <ion-button class="print-button" (click)="printOrder()"><ion-icon name="md-print"></ion-icon></ion-button>
  <ion-button class="finish-order" (click)="finishInvoice()" [disabled]="!this.invoiceWasPrinted" round>Finalizar pedido</ion-button>
</ion-content>
