<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Orden {{this.order.orderId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
<!--
    <p class="qr-text">Escanea este código QR Para Iniciar el reparto del pedido</p>
-->
    <img class="qrcode-image" src="../../../assets/qrcode.png">
  </div>
  <div>
    <div class="first-invoice-line">
    <p class="text-first-invoice-margin">No. de órden: {{this.order.orderId}}</p>
    <p class="text-first-invoice-margin">Fecha: {{this.order.orderDate}}</p>
    </div>
    <p class="invoice-body-margin">Cliente: {{this.order.clientName}}</p>
    <p class="invoice-body-margin">Direccion: {{this.order.direction}}</p>
  </div>
  <div class="invoice-details">
    <div>
      <p class="invoice-details-header">Pedido: </p>
    </div>
    <div *ngFor="let order of this.order.orderDetails">
      <div class="invoice-item">
        <span>{{order.description}} </span><span>{{order.price}}€</span>
      </div>
    </div>
  </div>
  <div class="invoice-total">
    <p>Total {{order.totalPrice}}€</p>
  </div>
  <div class="invisible-div-for-scroll"></div>
  <ion-button class="print-button" (click)="printOrder()"><ion-icon name="md-print"></ion-icon></ion-button>
  <ion-button class="finish-order" [disabled]="!this.invoiceWasPrinted" round>Finalizar pedido</ion-button>
</ion-content>
