.print-button {
  position: fixed;
  bottom: 13.5vh;
  right: 4vw;
  width: 50px;
  height: 50px;
  --border-radius: 50%;
  opacity: 0.8;
}

.invoice-title {
  border-bottom: 1px solid black;
}

.restaurant-text {
  font-size: 150%;
}

.invoice-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.qr-text {
  font-size: 133%;
}

.qrcode-image {
  max-width: 45vw;
}

.first-invoice-section {
  text-align: center;
  font-size: 110%;
}

.text-first-invoice-margin {
  margin-bottom: 0;
  margin-top: 1.5vw;
}

.invoice-client-title-data {
  margin-bottom: 0;
}

.invoice-client-data {
  margin-top: 1vh;
  margin-bottom: 0;
  font-size: 120%;
}


.invoice-details-header-section {
  display: flex;
  justify-content: flex-end;
}

.invoice-details {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1.5vh;
}

.invoice-details-header {
  margin-top: 10px;
  margin-bottom: 0px;
}

.small-text {
  font-size: 80%;
}

.invoice-total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.total-text {
  margin: 1vh 0;
}

.invisible-div-for-scroll {
  height: 30vw;
}

.finish-order {
  width: 60vw;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 6vh;
  margin-left: auto;
  margin-right: auto;
}