.logout-icon {
  position: absolute;
  right: 7vw;
  top: 3vh;
  font-size: 1.6em;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.qrcode-image {

}
