<ion-header>
  <ion-toolbar>
    <ion-title>
      Scaneo de código
    </ion-title>
    <ion-icon class="logout-icon" name="log-out" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding info">
      <img class="qrcode-image" src="../../../assets/images/qrCode.png">
      <p>Identifica el código de la factura, presiona el boton scanear y apunta la camara hacia dicho código</p>
      <ion-button (click)="scanCode()">Escanear</ion-button>
  </div>
</ion-content>
