<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Orfood
    </ion-title>
    <ion-icon class="logout-icon" name="log-out" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding info">
      <img class="qrcode-image" src="../../../assets/images/qrCode.png">
      <p class="instructions">Identifica el código QR del pedido, presiona el botón Escanear y enfoca la camara hacia el código</p>
      <ion-button (click)="scanCode()">Escanear</ion-button>
  </div>
</ion-content>
